```

  (Run Starting)

  ┌────────────────────────────────────────────────────────────────────────────────────────────────┐
  │ Cypress:    3.1.5                                                                              │
  │ Browser:    Electron 59 (headless)                                                             │
  │ Specs:      1 found (01_basic-html.spec.js)                                                    │
  └────────────────────────────────────────────────────────────────────────────────────────────────┘


────────────────────────────────────────────────────────────────────────────────────────────────────

  Running: 01_basic-html.spec.js...                                                        (1 of 1)


  Basic HTML
    Checking html tags:
      √ should contain "html" tag (247ms)
      √ should contain "body" tag
      √ should contain "h1" tag (55ms)
      √ should contain "h2" tag
      √ should contain "ol" tag (43ms)
      √ should contain "ul" tag
      √ should contain "li" tag
      √ should contain "a" tag (150ms)
      √ should contain "p" tag
      √ should contain "span" tag
      √ should contain "i" tag
      √ should contain "strong" tag (38ms)
      √ should contain "div" tag
      √ should contain "img" tag
      √ should contain "header" tag (108ms)
      √ should contain "footer" tag (46ms)
      √ should contain "section" tag (41ms)
      √ should contain "article" tag
      √ should contain "aside" tag
      √ should contain "main" tag
      √ should contain "nav" tag (52ms)
      √ should contain "form" tag (39ms)
      √ should contain "fieldset" tag (40ms)
      √ should contain "label" tag (124ms)
      √ should contain "input" tag (48ms)
      √ should contain "input[type="checkbox"]" tag
      √ should contain "input[type="radio"]" tag
      √ should contain "select" tag
      √ should contain "button" tag
      √ should contain "button[type="submit"]" tag
      √ should contain "table" tag
      √ should contain "thead" tag (52ms)
      √ should contain "tbody" tag (105ms)
      √ should contain "th" tag
      √ should contain "tr" tag (38ms)
      √ should contain "td" tag (48ms)
    Checking proper HTML Layout structure:
      √ should contain HTML structure like "article > section"
      √ should contain HTML structure like "body > header"
      √ should contain HTML structure like "body > main" (143ms)
      √ should contain HTML structure like "body > footer"
      √ should contain HTML structure like "nav > ul > li"
      √ should contain HTML structure like "form > fieldset > input"
      √ should contain HTML structure like "form > fieldset > select"
      √ should contain HTML structure like "form > fieldset > button"
      √ should contain HTML structure like "ol > li"
      √ should contain HTML structure like "ul > li"
      √ should contain HTML structure like "table > thead > tr > th"
      √ should contain HTML structure like "table > tbody > tr > td" (41ms)


  48 passing (5s)


  (Results)

  ┌─────────────────────────────────────┐
  │ Tests:        48                    │
  │ Passing:      48                    │
  │ Failing:      0                     │
  │ Pending:      0                     │
  │ Skipped:      0                     │
  │ Screenshots:  0                     │
  │ Video:        false                 │
  │ Duration:     4 seconds             │
  │ Spec Ran:     01_basic-html.spec.js │
  └─────────────────────────────────────┘

```
